@model MixERP.Net.Web.UI.ViewModels.SignIn

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Titles.SignIn</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Titillium+Web">
    <link rel="stylesheet" type="text/css" href="/bundles/styles/site.min.css">
</head>
<body id="SignInBody">
    <form>
        <div id="signin-form">
            <a href="#">
                <img src="~/Contents/images/mixerp-logo.png" />
            </a>

            <div class="ui form segment" style="padding: 24px 48px;">
                <div class="ui large header" style="padding: 8px 0;">
                    @Resources.Titles.SignIn
                </div>
                <div class="ui divider"></div>
                <div class="field">
                    <label for="UsernameInputText">
                        @Resources.Titles.UserId
                    </label>
                    <input name="UsernameInputText" type="text" id="UsernameInputText" placeholder="@Resources.Titles.UserId" />
                </div>
                <div class="field">
                    <label for="PasswordInputPassword">
                        @Resources.Titles.Password
                    </label>
                    <input name="PasswordInputPassword" type="password" id="PasswordInputPassword" placeholder="@Resources.Titles.Password" />
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input name="RememberInputCheckBox" type="checkbox" id="RememberInputCheckBox" />
                        <label>
                            @Resources.Titles.RememberMe
                        </label>
                    </div>
                </div>
                <div class="ui horizontal icon divider">
                    <i class="circular user icon"></i>
                </div>
                <div class="field">
                    <label for="BranchSelect">
                        @Resources.Titles.SelectYourBranch
                    </label>
                    @Html.DropDownList("BranchSelect", new SelectList(Model.Branches, "OfficeId", "OfficeName"))
                </div>
                <div class="field">
                    <label for="LanguageSelect">
                        @Resources.Titles.SelectLanguage
                    </label>

                    @Html.DropDownList("LanguageSelect", new SelectList(Model.Cultures, "CultureCode", "NativeName"))
                </div>

                <div class="exception field"></div>
                <div class="field">
                    <input name="SignInButton" type="button" id="SignInButton"
                           value="@Resources.Titles.SignIn"
                           title="CRTL + RETURN"
                           class="ui teal button" />
                </div>
            </div>
        </div>

        <div class="ui page dimmer">

            <div class="content">
                <div class="center">
                    <div class="ui yellow huge icon header">
                        <i class="ui inverted yellow setting loading icon"></i>
                        @Resources.Titles.SigningIn
                        <div class="ui yellow sub header">
                            @Resources.Labels.JustAMomentPlease
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            var challenge = "@Model.Challenge";
        </script>
        <script src="~/bundles/script/libraries.js"></script>
        <script src="~/Scripts/jssha1.5/src/sha.js"></script>
        <script src="~/Scripts/mixerp/sign-in.js"></script>
    </form>
</body>
</html>